<a href="https://colab.research.google.com/github/navros-fabian/challenge1-data-science-latam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head() # muestra las 5 primeras filas (verificar datos)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [6]:
tienda.info() # Muestra el tipo de cada columna (numero, texto, fecha )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [7]:
tienda.describe() # Muestra estadisticas basicas

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.878679e+05,26018.609580,3.976685,2.943196,5.365283,-74.789417
std,6.146868e+05,32860.001783,1.415370,2.819897,2.287445,1.217827
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.575000e+04,3100.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.353000e+05,12400.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.781000e+05,36000.000000,5.000000,4.000000,6.251840,-74.081750
max,2.977000e+06,160800.000000,5.000000,24.000000,11.544440,-67.923900

In [14]:
for i, col in enumerate(datos_tiendas.columns, start=1):
    print(f"{i}. {col}")

1. Producto
2. Categoría del Producto
3. Precio
4. Costo de envío
5. Fecha de Compra
6. Vendedor
7. Lugar de Compra
8. Calificación
9. Método de pago
10. Cantidad de cuotas
11. lat
12. lon

#1. Análisis de facturación

In [11]:
# Agrupamos las tiendas en una lista
tiendas = [tienda, tienda2, tienda3, tienda4]
# Calculamos el ingreso total de cada tienda
for i, t in enumerate( tiendas, start = 1):
  ingreso = t["Precio"].sum()
  print(f"Ingreso tienda {i}: {ingreso}")

Ingreso tienda 1: 1150880400.0
Ingreso tienda 2: 1116343500.0
Ingreso tienda 3: 1098019600.0
Ingreso tienda 4: 1038375700.0

# 2. Ventas por categoría

In [18]:
# Mostrar ventas por categoría con formato más legible
ventas_categoria = datos_tiendas.groupby("Categoría del Producto")["Precio"].sum()

# Convertimos a DataFrame para aplicar formato
ventas_categoria = ventas_categoria.reset_index()

# Formateamos los números
ventas_categoria["Precio"] = ventas_categoria["Precio"].apply(lambda x: f"{x:,.0f}")

print(ventas_categoria)

    Categoría del Producto         Precio
0  Artículos para el hogar     57,579,800
1     Deportes y diversión    142,977,700
2        Electrodomésticos  1,324,751,100
3             Electrónicos  1,660,576,500
4   Instrumentos musicales    348,772,600
5                 Juguetes     73,604,400
6                   Libros     37,696,100
7                  Muebles    757,661,000

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda